<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>code challenge</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Putri Alisyah Mariska</h1>
  </body>
</html>
